body {
	font-family: "Montserrat", sans-serif;
	background-color: #e5e5e5;
}
.main {
	display: flex;
	width: 1200px;

	margin: 0 auto;
}
.main-info {
	padding-left: 88px;
	padding-top: 102px;
	background-color: white;
}
.main-info > div {
	margin-bottom: 40px;
	width: 800px;
}
.about h5 {
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 20px;
}
.about h1 {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 55px;
	margin-bottom: 25px;
}
.user-info {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	width: 400px;
}
div.projects {
	margin: 0;
	margin-bottom: 50px;
}
.projects h3 {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 10px;
}
.projects ol {
	padding: 0;
	margin: 0;
}
.projects li {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	margin-left: 17px;
	padding-left: 10px;
}
.projects li::marker {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
}
.projects a {
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
.projects a:hover {
	color: darkred;
}
.work span {
	color: #fb6d3a;
}
.work > div {
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-bottom: 5px;
}
.work h3 {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 12px;
}
.work h4 {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}
.work h6 {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #a8a8a8;
	margin-bottom: 8px;
	margin-top: 10px;
}
.work ul {
	padding: 0;
	margin: 0;
}
.work li {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	margin-left: 10px;
	padding-left: 5px;
	width: 510px;
}
.work li::marker {
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 24px;
	color: #595959;
}
.education span {
	color: #fb6d3a;
}
.education h3 {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 12px;
}
.education h4 {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 11px;
}
.education h5 {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 12px;
}
.education h6 {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #a8a8a8;
}
aside {
	background-color: #1e2939;
	color: white;
	padding-top: 40px;
	width: 370px;
}
aside div {
	margin-left: 40px;
	margin-bottom: 45px;
}
aside ul {
	margin: 0;
	padding: 0;
}
aside li {
	padding: 0;
	margin-left: 12px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	padding-left: 5px;
}
aside li::marker {
	color: #fb6d3a;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
}
.photo {
	width: 370px;
	margin-bottom: 50px;
}

.sidebar-title {
	margin: 0 0;
	padding: 0 0;
	color: #fff;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 10px;
}
.contacts p {
	margin: 0 0;
}
.contacts span {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	margin-right: 10px;
}
.contacts a {
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	opacity: 0.5;
}
.contacts a:hover {
	opacity: 1;
}
